services:
  auth-postgres:
    container_name: auth-postgres
    image: postgres:17.4
    restart: always
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - llt-net

  auth-service:
    container_name: auth-service
    restart: always
    ports:
      - 3001:3001
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      auth-postgres:
        condition: service_healthy
    networks:
      - llt-net

networks:
  llt-net:
    external: true
    name: llt-net

volumes:
  pg_data:
