services:
  auth-postgres:
    container_name: auth-postgres
    image: postgres:17.4
    restart: always
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
    env_file:
      - .env
    volumes:
      - ./volumes/postgres-db:/var/lib/postgresql/data

  auth-api:
    container_name: auth-api
    restart: always
    ports:
      - 3000:3000
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      auth-postgres:
        condition: service_healthy
    volumes:
      - ./volumes/auth-api/static/:/app/public/:rw